<ng-container *ngIf="_chartType === 'pie'">
  <div class="card">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="title-sm">Financial Breakdown</div>
      <div class="filter_wrap" [matMenuTriggerFor]="filterOne">
        <span>{{ filterItem || "Filter items" }}</span>
        <span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </div>
      <mat-menu #filterOne>
        <button mat-menu-item (click)="setFilterItem('last-month')">
          <span>Last Month</span>
        </button>
        <button mat-menu-item (click)="setFilterItem('this-year')">
          <span>This year</span>
        </button>
      </mat-menu>
    </div>
    <ng-container *ngIf="!itemDetails"
      ><app-loading-roller></app-loading-roller
    ></ng-container>
    <div class="block pt-5 pb-3">
      <ng-container
        *ngIf="
          itemDetails &&
          (itemDetails.income_amount == 0 || itemDetails.expense_amount == 0)
        "
      >
        <p class="d-flex justify-content-center">No data yet</p>
      </ng-container>
      <ng-container
        *ngIf="
          itemDetails &&
          (itemDetails.income_amount !== 0 || itemDetails.expense_amount !== 0)
        "
      >
        <canvas
          mdbChart
          [chartType]="pieChartType"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          width="300"
        ></canvas>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <div
      class="chart-label d-flex align-items-center justify-content-evenly mt-auto"
    >
      <label>Expense</label>
      <label>Income</label>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="_chartType === 'line'">
  <div class="card">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="title-sm">Financial Breakdown</div>
      <div class="filter_wrap" [matMenuTriggerFor]="filterOne">
        <span>{{ filterItem || "Filter items" }}</span>
        <span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </div>
      <mat-menu #filterOne>
        <button mat-menu-item (click)="setFilterItem('last-month')">
          <span>Last Month</span>
        </button>
        <button mat-menu-item (click)="setFilterItem('this-year')">
          <span>This year</span>
        </button>
      </mat-menu>
    </div>
    <div class="block pt-5 pb-3">
      <canvas
        class="line-chart"
        mdbChart
        [chartType]="lineChartType"
        [datasets]="lineChartDatasets"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [options]="lineChartOptions"
      >
      </canvas>
    </div>
    <div class="d-flex justify-content-center my-4">
      <strong>Time(Year)</strong>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div
      class="chart-label d-flex align-items-center justify-content-evenly mt-auto"
    >
      <label>Salary</label>
      <label>Taxes</label>
      <label>Pension</label>
      <label>Health</label>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="_chartType === 'bar'">
  <div class="card">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="title-sm">Financial Breakdown</div>
      <div class="filter_wrap" [matMenuTriggerFor]="filterOne">
        <span>{{ filterItem || "Filter items" }}</span
        ><span><ion-icon name="chevron-down"></ion-icon></span>
      </div>
      <mat-menu #filterOne>
        <button mat-menu-item (click)="setFilterItem('last-month')">
          <span>Last Month</span>
        </button>
        <button mat-menu-item (click)="setFilterItem('this-year')">
          <span>This year</span>
        </button>
      </mat-menu>
    </div>
    <div class="block pt-5 pb-3">
      <canvas
        class="line-chart"
        mdbChart
        [chartType]="barChartType"
        [datasets]="barChartDatasets"
        [labels]="barChartLabels"
        [colors]="barChartColors"
        [options]="barChartOptions"
      >
      </canvas>
    </div>
    <div class="d-flex justify-content-center my-4">
      <strong>Months</strong>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div
      class="chart-label d-flex align-items-center justify-content-evenly mt-auto"
    >
      <label>Earnings</label>
      <label>Deductions</label>
      <label>Net Pay</label>
    </div>
  </div>
</ng-container>
