@import "src/scss/_vars.scss";
.item-list {
  grid-template-columns: repeat(4, 23.4%);
  .card {
    padding: 1em;
    justify-content: center;
    text-align: center;
    border: none;
    box-shadow: 0px 1px 15px 2px #bdbdbd45;
    label {
      font-size: 30px;
      font-weight: 600;
      span {
        display: block;
        font-size: 12px;
        font-weight: 100;
        color: rgba($purple, 0.7);
      }
    }
  }
}
.grid {
  height: fit-content;
}
.event-list {
  border-radius: 10px;
  background: #d0d8f96b;
  box-shadow: 0px 1px 15px 2px #d2daf6;
  height: 100%;
  .empty-state {
    img {
      width: 150px;
    }
  }
}
