<section class="learn-more"
  data-aos="zoom-up"
  data-aos-duration="3000"
  >
    <div class="container">
        <div class="row justify-content-between align-content-center">
            <div class="col-md-5 order-md-2">
                <div class="text-content-wrap text-center text-md-start">
                    <h2>What Your Church Can Do On ChurchVest</h2>
                    <p>
                        There are many features that Church Vest offers to your Church. 
                        Among others, It offers Effective Church Administration and Communication 
                        among members. Click on "learn more" to know more about what we offer.
                    </p>
                    <div class="btn-wrap mt-3">
                        <button class="px-5 py-2">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="icon-content-wrap mt-sm-5 mt-md-0">
                    <div class="icon-wrapper text-center">
                        <img src="assets/img/png/mic-stand.png" alt="">
                        <h4 class="mt-4">Church Communication</h4>
                    </div>
                    <div class="icon-wrapper text-center">
                        <mat-icon>design_services</mat-icon>
                        <h4 class="mt-4">Church Administration</h4>
                    </div>
                    <div class="icon-wrapper text-center">
                        <mat-icon>location_pin</mat-icon>
                        <h4 class="mt-4">Church Management</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>