<main class="auth">
  <div class="grid grid--1fr--2fr">
    <div class="container">
      <div class="d-flex w-400 pt-5">
        <a routerLink="/" class="return-link">
          <mat-icon>keyboard_backspace</mat-icon>Home Page</a
        >
      </div>
      <ng-container *ngIf="!showContentType">
        <div class="form-wrap w-400">
          <form [formGroup]="resetEmailForm" (ngSubmit)="onResetEmail()">
            <div class="d-flex flex-column mb-3">
              <h2>Claim Back <br />Your Account</h2>
              <p class="f12 txt-grey">
                I remember my password now.
                <a routerLink="/onboarding/login">LOGIN HERE</a>
              </p>
            </div>

            <div class="input">
              <label>Email Address</label>
              <input
                type="email"
                placeholder="Enter email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    resetEmailForm.controls['email'].hasError('required') &&
                    !resetEmailForm.controls['email'].valid &&
                    resetEmailForm.controls['email'].touched
                }"
              />
              <span class="toggle-btn txt-grey green" *ngIf="recordFound">
                <mat-icon>check_circle</mat-icon></span
              >
            </div>
            <button
              type="submit"
              mat-flat-button
              class="w-100"
              [disabled]="!resetEmailForm.valid"
            >
              Send Reset Link <mat-spinner *ngIf="isBusy"> </mat-spinner>
            </button>
          </form>
        </div>
      </ng-container>
      <ng-container *ngIf="showContentType">
        <div class="form-wrap w-400">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
            <div class="d-flex flex-column mb-3">
              <h2>Enter Your <br />New Password</h2>
            </div>
            <div *ngIf="validatePassword" class="panel mb-3 p-3">
              <div class="d-flex align-items-center mb-2">
                <mat-icon *ngIf="validatePassword.length >= 8" class="txt-green"
                  >check_circle</mat-icon
                >
                <mat-icon
                  class="text-danger"
                  *ngIf="validatePassword.length < 8"
                  >cancel</mat-icon
                >
                <span class="f12 text-grey ms-2"
                  >Password should contain 8 characters or more</span
                >
              </div>
              <div class="d-flex align-items-center mb-2">
                <mat-icon *ngIf="!upperCaseChar" class="txt-green"
                  >check_circle</mat-icon
                >
                <mat-icon *ngIf="upperCaseChar" class="text-danger"
                  >cancel</mat-icon
                >
                <span class="f12 text-grey ms-2"
                  >Password should contain at least one upper case
                  character</span
                >
              </div>
              <div class="d-flex align-items-center mb-2">
                <mat-icon *ngIf="numberChar" class="txt-green"
                  >check_circle</mat-icon
                >
                <mat-icon *ngIf="!numberChar" class="text-danger"
                  >cancel</mat-icon
                >
                <span class="f12 text-grey ms-2"
                  >Password should contain at least a number</span
                >
              </div>
              <div class="d-flex align-items-center">
                <mat-icon *ngIf="specialChar" class="txt-green"
                  >check_circle</mat-icon
                >
                <mat-icon *ngIf="!specialChar" class="text-danger"
                  >cancel</mat-icon
                >
                <span class="f12 text-grey ms-2"
                  >Password should contain at least one special character</span
                >
              </div>
            </div>
            <div class="input">
              <label>Password</label>
              <input
                [type]="show ? 'text' : 'password'"
                placeholder="Enter password"
                formControlName="password"
                (input)="checkPassword(passwordTrueValue)"
                [ngClass]="{
                  'is-invalid':
                    resetPasswordForm.controls['password'].hasError(
                      'required'
                    ) && resetPasswordForm.controls['password'].touched
                }"
              />
              <span
                class="toggle-btn txt-grey"
                *ngIf="!show"
                (click)="password()"
              >
                <mat-icon>visibility_off</mat-icon></span
              >
              <span
                class="toggle-btn txt-grey"
                *ngIf="show"
                (click)="password()"
              >
                <mat-icon>visibility</mat-icon></span
              >
            </div>
            <div class="input">
              <label>Confirm Password</label>
              <input
                [type]="show ? 'text' : 'password'"
                formControlName="password_confirmation"
                placeholder="Confirm password"
                [errorStateMatcher]="matcher"
              />
              <span
                class="toggle-btn txt-grey"
                *ngIf="!show"
                (click)="password()"
              >
                <mat-icon>visibility_off</mat-icon></span
              >
              <span
                class="toggle-btn txt-grey"
                *ngIf="show"
                (click)="password()"
              >
                <mat-icon>visibility</mat-icon></span
              >
              <mat-error
                class="f12 my-2"
                *ngIf="
                  resetPasswordForm.hasError('notSame') &&
                  resetPasswordForm.controls['password_confirmation'].touched
                "
              >
                Passwords do not match
              </mat-error>
            </div>
            <button
              type="submit"
              mat-flat-button
              class="w-100"
              [disabled]="!resetPasswordForm.valid"
            >
              Reset Password <mat-spinner *ngIf="isBusy"> </mat-spinner>
            </button>
          </form>
        </div>
      </ng-container>
    </div>
    <div class="banner">
      <div class="center">
        <a routerLink="/" class="d-flex align-items-center">
          <img src="assets/img/png/church_logo.png" alt="logo" class="logo" />
          <span class="ms-1">Churchvest</span>
        </a>
      </div>
    </div>
  </div>
</main>
