.home {
    .banner {
        background: #ebecff;
        padding: 5em 0;
        height: 100vh;
        .wrap-banner {
            display: grid;
            grid-template-columns: 3fr 5fr;
            gap: 2em;
            // align-items: center;
            .banner-left {
                h1{
                    // padding: 1rem 0 0 3.5rem;
                    margin-top: 7rem;
                    font-size: 48px;
                }
                p.desc {
                    color: #010326;
                    font-size: 18px;
                    line-height: 28.8px;
                }
                button {
                    outline: none;
                    padding:  1em;
                    border: none;
                    border-radius: 5px;
                }
                .btn-full {
                    background-color: #0410f1;
                    color: #ffffff;
                    border: 1px solid #0410f1;
                    &:hover {
                    background-color: #ffffff;
                    color: #0410f1;
                    }
                }
                .btn-ghost {
                    margin-left: 1em;
                    background-color: #ffffff;
                    color: #0410f1;
                    border: 1px solid #0410f1;
                    &:hover {
                    background-color: #0410f1;
                    color: #ffffff;
                    }
                }
            }
            .banner-right {
                .wrap-images {
                    display: flex;
                    max-width: 650px;
                    margin: 1em auto;
                    gap: 0.2em;
                    align-self: center;

                    img {
                        height: 400px;
                        &:first-child {
                            transition: all .8s ease-in-out;
                            margin-top: 5rem;
                            box-shadow: -15px 15px 0 0 rgb(163 172 191 / 20%);
                        }
                        &:last-child {
                            transition: all .8s ease-in-out;
                            margin-top: 9rem;
                            box-shadow: 15px 15px 0 0 rgb(163 172 191 / 20%);
                        }
                    }
                }
            }
        }
        &:hover {
            .wrap-banner {
                .banner-right {
                    .wrap-images {
                    img {
                        &:first-child {
                            margin-top: 9rem;
                            box-shadow: -15px 15px 0 0 rgb(163 172 191 / 20%);
                        }
                        &:last-child {
                            margin-top: 5rem;
                            box-shadow: 15px 15px 0 0 rgb(163 172 191 / 20%);
                        }
                    }
                    }
                }
            }
        }
        
    }
}