<main class="home">
    
    <app-header></app-header>

    <div class="banner">
        <div class="container">
            <div class="wrap-banner">
            <div class="banner-left">
                <h1>Easy Church Management & Administration</h1>
                <p class="desc">
                    Manage your church effectively and communicate with your church members using our administration tools, mobile, and website application.
                </p>
                <div class="btn-wrap d-md-flex align-items-center">
                    <button class="btn-full mr-4">Use Churchvest for free</button>
                    <button class="btn-ghost mt-xl-5 mt-md-0">Book a demo</button>
                </div>
            </div>
            <div class="banner-right">
                <div class="wrap-images">
                    <img src="./assets/img/png/landing-headerimg-one.png" alt="">
                    
                      <img src="./assets/img/png/landing-headerimg-two.png" alt="">
                    
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="tutorial">
      <app-tutorial></app-tutorial>
    </div>
    <app-subscribe></app-subscribe>
    <app-footer></app-footer>
</main>