<section>
  <div class="header d-flex align-items-center justify-content-between mb-4">
    <div class="title">Event</div>
    <button mat-stroked-button routerLink="/portal/events/all">
      <mat-icon class="me-2">add</mat-icon> Add New Event
    </button>
  </div>
  <div
    class="d-flex justify-content-center align-items-center my-3 empty-state"
    *ngIf="!_loading && (!eventList || eventList.length === 0)"
  >
    <span class="txt-grey txt-md"
      >No record found! Please create a record.</span
    >
  </div>
  <ng-container *ngIf="_loading">
    <app-loading-roller></app-loading-roller>
  </ng-container>
  <div
    class="overflow--wrap _visible"
    [ngClass]="{ hide: eventList.length == 0 }"
  >
    <div class="table-wrapper tbl-wrap">
      <ng-container *ngIf="eventList.length !== 0">
        <div
          class="toolbar mb-5 adjust-wrap d-flex justify-content-between align-items-center"
        >
          <div
            class="d-flex align-items-center justify-content-start adjust-flex"
          >
            <div
              class="d-flex align-items-center mr-1"
              style="width: fit-content"
            >
              <!-- Master Checkbox-->
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </div>
            <div class="search-input w-400 m-0">
              <span><mat-icon>search</mat-icon></span>
              <input
                type="text"
                placeholder="Search"
                (keyup)="applyFilter($event)"
                #input
                class="w-400"
              />
            </div>
            <!-- Export as-->
            <div class="ms-3">
              <button
                mat-stroked-button
                class="mat-stroked-secondary mr-1"
                [matMenuTriggerFor]="exportAs"
              >
                Export as
              </button>
              <mat-menu #exportAs="matMenu">
                <button mat-menu-item (click)="exportToExcel()">
                  Download as Excel
                </button>
              </mat-menu>
            </div>
            <!-- Print-->
            <div>
              <button
                mat-button
                class="print ms-1"
                (click)="_printElement('print-section')"
              >
                <mat-icon class="me-2">print</mat-icon> Print
              </button>
            </div>
          </div>
          <div
            class="animate animate__bounceIn"
            *ngIf="selection.selected.length !== 0"
          >
            <button
              mat-stroked-button
              class="text-danger"
              data-bs-toggle="modal"
              data-bs-target="#move-event"
              (click)="
                _isAllSelected = true;
                _isSingleSelected = false;
                getSelectedEvent(selection.selected)
              "
            >
              Trash
              {{
                selection.selected.length == eventList.length
                  ? "All"
                  : selection.selected.length > 0
                  ? selection.selected.length
                  : null
              }}
            </button>
          </div>
          <div>
            <button
              mat-button
              routerLink="/portal/people/evangelism/trash"
              class="btn--primary"
            >
              <mat-icon>restore_from_trash</mat-icon> View Trash
            </button>
          </div>
        </div>
        <table
          mat-table
          [dataSource]="dataSource"
          class="table custom-table w--100"
          style="width: 100%"
          id="print-section"
        >
          <ng-container
            *ngFor="
              let disCol of displayedColumns;
              let colIndex = index;
              let last = last
            "
            [matColumnDef]="disCol"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ disCol }}
            </th>
            <ng-container *ngIf="colIndex === 0">
              <td *matCellDef="let element">
                <mat-checkbox
                  [value]="element"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(element) : null"
                  [checked]="selection.isSelected(element)"
                >
                  <span>{{ element.name }}</span>
                </mat-checkbox>
              </td>
            </ng-container>
            <!--Action Column-->
            <ng-container *ngIf="last">
              <td mat-cell *matCellDef="let element">
                <div [matMenuTriggerFor]="menu">
                  <span class="cursor">
                    <mat-icon>more_horiz</mat-icon>
                  </span>
                  <mat-menu #menu="matMenu">
                    <button
                      type="button"
                      mat-menu-item
                      data-bs-toggle="modal"
                      data-bs-target="#view-details"
                      (click)="getEventDetails(element.id)"
                    >
                      View
                    </button>
                    <button
                      mat-menu-item
                      [routerLink]="['/portal/events/all']"
                      [queryParams]="{
                        query: 'edit',
                        id: element.id
                      }"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      mat-menu-item
                      data-bs-toggle="modal"
                      data-bs-target="#move-event"
                      (click)="
                        _isSingleSelected = true;
                        _isAllSelected = false;
                        getEventDetails(element.id)
                      "
                    >
                      Move to trash
                    </button>
                  </mat-menu>
                </div>
              </td>
            </ng-container>
            <!--Table  Row Content-->
            <ng-container *ngIf="disCol == 'start date'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["start_date"] | date: "mediumDate" }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'type of event'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["type"] }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'organizer'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["organizer"] }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'location'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["location_name"] }}</span>
              </td>
            </ng-container>
            <td mat-cell *matCellDef="let element">
              <span> {{ element[_concatColumnString(disCol)] }}</span>
            </td>
          </ng-container>
          <!--Mat-table  configurations-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{
              'bg-wrap': selection.isSelected(row)
            }"
          ></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the search item: "{{ filterValue }}"
            </td>
          </tr>
        </table>
      </ng-container>
      <mat-paginator
        showFirstLastButton
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        (page)="pageChanged($event)"
        class="visibility"
        [ngClass]="{ hidden: eventList.length == 0 }"
      ></mat-paginator>
    </div>
  </div>
</section>
<div class="modal fade" id="view-details" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Evangelism Details</div>
          <mat-icon data-bs-dismiss="modal" class="cursor">close</mat-icon>
        </div>
        <div class="container px-0">
          <ng-container *ngIf="_loading_">
            <app-loading-roller></app-loading-roller>
          </ng-container>
          <ng-container *ngIf="!_loading_ && itemDetails">
            <div class="details-panel">
              <mat-divider></mat-divider>
              <div class="details-wrap-list">
                <div class="grid grid--1fr--1fr mb-3">
                  <label
                    >Name<span class="capitalize">{{
                      itemDetails?.name
                    }}</span></label
                  >
                  <label
                    >Organizer<span>{{ itemDetails?.organizer }}</span></label
                  >
                </div>
                <div class="grid grid--1fr--1fr mb-3">
                  <label
                    >City<span style="width: 200px">{{
                      itemDetails?.city
                    }}</span></label
                  >
                  <label
                    >Address<span style="width: 250px">{{
                      itemDetails.address
                    }}</span></label
                  >
                </div>
                <div class="grid grid--1fr--1fr grid-row-gap-15">
                  <label *ngFor="let item of itemDetails.members">
                    Member
                    <span style="width: 250px">
                      {{ item.member?.user?.first_name }}
                      {{ item.member?.user?.last_name }}</span
                    >
                  </label>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer d-flex justify-content-end px-4">
          <button type="button" mat-stroked-button data-bs-dismiss="modal">
            Dismiss
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="move-event" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Move to trash</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <ng-container *ngIf="_loading_">
              <app-loading-roller></app-loading-roller>
            </ng-container>
            <div
              class="center"
              *ngIf="itemDetails && !_loading_ && _isSingleSelected"
            >
              <p>
                Are you sure you want to move this evangelism
                <span>{{ itemDetails.name }} </span>
                to trash? This will be temporarily deleted, and can be recovered
                from trash
              </p>
            </div>
            <div class="center" *ngIf="_isAllSelected">
              <p>
                Are you sure you want to move
                <span>
                  {{ selectedEvangelism.length }}
                  {{ selectedEvangelism.length == 1 ? "item" : "items" }}
                </span>
                to trash? This will be temporarily deleted, and can be recovered
                from trash
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3" (click)="confirmDelete()">
            Move <mat-spinner *ngIf="isBusy"> </mat-spinner>
          </button>
          <button mat-stroked-button data-bs-dismiss="modal" #closebtn>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
