<section class="event-list-wrap">
  <div class="title-sm">Upcoming Events</div>
  <div class="list--items">
    <div class="item d-flex align-items-center">
      <div class="icon d-flex align-items-center me-2">
        <mat-icon>receipt</mat-icon>
      </div>
      <label>Assign new member <span>March, 6, 10:00PM</span></label>
    </div>
    <div class="item d-flex align-items-center">
      <div class="icon d-flex align-items-center me-2">
        <mat-icon>receipt</mat-icon>
      </div>
      <label>Sign board resolution<span>June, 8, 10:00PM</span></label>
    </div>
    <div class="item d-flex align-items-center">
      <div class="icon d-flex align-items-center me-2">
        <mat-icon>receipt</mat-icon>
      </div>
      <label>Finish onboarding John Doe <span>June, 8, 10:00PM</span></label>
    </div>
  </div>
  <div class="overdue-event mt-auto">
    <div class="d-flex flex-column">
      <label>Board Meeting <span class="f12 txt-grey">Feb 12</span></label>
      <p>
        You have been invited to attend the following meeting with directions
      </p>
    </div>
  </div>
</section>
