<main class="auth">
  <div class="grid grid--1fr--2fr">
    <div class="container">
      <div class="d-flex w-400 pt-5">
        <a routerLink="/" class="return-link">
          <mat-icon>keyboard_backspace</mat-icon>Home Page</a
        >
      </div>
      <div class="form-wrap w-400">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-column mb-3">
            <h2>Setup Your <br />Church Information</h2>
            <p class="f12 txt-grey">
              Create your virtual church space, broaden your impact!
            </p>
          </div>

          <div class="input">
            <label>Church Name</label>
            <input
              type="text"
              placeholder="Enter church name"
              formControlName="name"
            />
          </div>
          <div class="input">
            <label>Church Location</label>
            <input
              type="text"
              placeholder="Enter church location"
              formControlName="location"
            />
          </div>
          <div class="input">
            <label>Church Address</label>
            <input
              type="text"
              placeholder="Enter church address"
              formControlName="address"
            />
          </div>

          <button
            type="submit"
            mat-flat-button
            class="w-100"
            [disabled]="!form.valid"
          >
            Go to Dashboard <mat-spinner *ngIf="isBusy"> </mat-spinner>
          </button>
        </form>
      </div>
    </div>
    <div class="banner">
      <div class="center">
        <a routerLink="/" class="d-flex align-items-center">
          <img src="assets/img/png/church_logo.png" alt="logo" class="logo" />
          <span class="ms-1">Churchvest</span>
        </a>
      </div>
    </div>
  </div>
</main>
