<div class="d-flex align-items-center mb-4 cursor" (click)="gotoBack()">
  <button mat-icon-button class="me-2 return-link-wrap">
    <mat-icon>west</mat-icon>
  </button>
  <div class="title-sm">Back</div>
</div>
<ng-container>
  <section class="stepper-wrapper full">
    <aside *ngIf="queryString !== 'edit'">
      <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
        <div class="form-wrap">
          <div class="title mb-2">New Department</div>
          <mat-divider></mat-divider>
          <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
            <div class="input">
              <label>Name of Department</label>
              <input
                type="text"
                placeholder="Enter department name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid':
                    departmentForm.controls['name'].hasError('required') &&
                    departmentForm.controls['name'].touched
                }"
              />
            </div>
            <div class="input">
              <label>Meetings day </label>
              <mat-select
                class="select"
                placeholder="Select meeting days"
                formControlName="meeting_days"
                multiple
              >
                <mat-option disabled="" selected="" value=""
                  >Select meeting days</mat-option
                >
                <mat-option
                  *ngFor="let item of _daysOfWeek()"
                  [value]="item"
                  class="capitalize"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
            <div class="input">
              <label>Start Time</label>
              <input
                matInput
                type="time"
                formControlName="start_time"
                #txtDate
                step="2"
              />
            </div>
            <div class="input">
              <label>End Time</label>
              <input type="time" formControlName="end_time" step="2" />
              <small class="text-danger" *ngIf="validate"
                >End date must be greater than start date</small
              >
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Date Formed</label>
              <input
                type="date"
                formControlName="date_formed"
                [ngClass]="{
                  'is-invalid':
                    departmentForm.controls['date_formed'].hasError(
                      'required'
                    ) && departmentForm.controls['date_formed'].touched
                }"
              />
            </div>
            <div class="input">
              <label>Members</label>
              <mat-select
                placeholder="Select members"
                class="select"
                multiple
                #membersSelect
                formControlName="members_id"
                (selectionChange)="handleMembersChange($event)"
              >
                <mat-select-trigger>
                  {{ _memberList ? stripedObjValue : "" }}
                  <span class="more" *ngIf="memberItems.length > 5">
                    +{{ memberItems.length - 5 }} other item
                  </span>
                </mat-select-trigger>
                <mat-option
                  #membersAll
                  (click)="toggleAllSelection(membersAll, membersSelect)"
                  [value]="0"
                  >All</mat-option
                >
                <mat-option
                  *ngFor="let item of _memberList"
                  [value]="item"
                  (click)="toggleOne(membersAll, membersSelect)"
                >
                  {{ item.user.first_name }} {{ item.user.last_name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Notify Channel </label>
              <mat-select
                class="select"
                placeholder="Select channel"
                formControlName="notify_channel"
              >
                <mat-option disabled="" selected="" value=""
                  >Select Notification Channel</mat-option
                >
                <mat-option
                  *ngFor="let item of notificationChannel"
                  [value]="item"
                  class="capitalize"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </div>
            <div class="input">
              <label>Notify Periods </label>
              <mat-select
                class="select"
                placeholder="Select period"
                formControlName="notify_periods"
                multiple
              >
                <mat-option disabled="" selected="" value=""
                  >Select Notification Period</mat-option
                >
                <mat-option
                  *ngFor="let item of notificationPeriod"
                  [value]="item"
                  class="capitalize"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Notification Unit </label>
              <mat-select
                class="select"
                placeholder="Select channel"
                formControlName="notify_unit"
              >
                <mat-option disabled="" selected="" value=""
                  >Select Notification Unit</mat-option
                >
                <mat-option
                  *ngFor="let item of notificationUnit"
                  [value]="item"
                  class="capitalize"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </div>
            <div formGroupName="roles" class="input">
              <label>Name of Department Leader</label>
              <mat-select
                class="select"
                placeholder="Select leader"
                formControlName="leader"
              >
                <mat-option disabled="" selected="" value=""
                  >Select leader</mat-option
                >
                <mat-option *ngFor="let item of _memberList" [value]="item.id"
                  >{{ item.user.first_name }}
                  {{ item.user.last_name }}</mat-option
                >
              </mat-select>
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div formGroupName="roles" class="input">
              <label>Name of Assistant</label>
              <mat-select
                class="select"
                placeholder="Select Assistant"
                formControlName="assistant"
              >
                <mat-option disabled="" selected="" value=""
                  >Select Assistant</mat-option
                >
                <mat-option *ngFor="let item of _memberList" [value]="item.id"
                  >{{ item.user.first_name }}
                  {{ item.user.last_name }}</mat-option
                >
              </mat-select>
            </div>
            <div formGroupName="roles" class="input">
              <label>Name of Department Secreatary</label>
              <mat-select
                class="select"
                placeholder="Select Secretary"
                formControlName="secretary"
              >
                <mat-option disabled="" selected="" value=""
                  >Select Secretary</mat-option
                >
                <mat-option *ngFor="let item of _memberList" [value]="item.id"
                  >{{ item.user.first_name }}
                  {{ item.user.last_name }}</mat-option
                >
              </mat-select>
            </div>
          </div>
          <div class="grid mb-3">
            <div class="input">
              <label>Description</label>
              <textarea
                cols="30"
                rows="10"
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button
              type="submit"
              mat-flat-button
              class="me-4"
              [disabled]="!departmentForm.valid"
            >
              Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
            </button>
          </div>
        </div>
      </form>
    </aside>
    <ng-container *ngIf="queryString == 'edit' && !itemDetails">
      <app-loading-roller></app-loading-roller>
    </ng-container>
    <ng-container *ngIf="queryString == 'edit' && itemDetails">
      <aside>
        <form [formGroup]="updateDepartmentForm" (ngSubmit)="onUpdate()">
          <div class="form-wrap">
            <div class="title mb-2">Update Department</div>
            <mat-divider></mat-divider>
            <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
              <div class="input">
                <label>Name of Department</label>
                <input
                  type="text"
                  placeholder="Enter department name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid':
                      departmentForm.controls['name'].hasError('required') &&
                      departmentForm.controls['name'].touched
                  }"
                />
              </div>
              <div class="input">
                <label>Meetings day </label>
                <mat-select
                  class="select"
                  placeholder="Select meeting days"
                  formControlName="meeting_days"
                  multiple
                  required
                >
                  <mat-option disabled="" selected="" value=""
                    >Select meeting days</mat-option
                  >
                  <mat-option
                    *ngFor="let item of _daysOfWeek()"
                    [value]="item"
                    class="capitalize"
                    >{{ item }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
              <div class="input">
                <label>Start Time</label>
                <input
                  type="time"
                  formControlName="start_time"
                  #txtDate
                  step="2"
                />
              </div>
              <div class="input">
                <label>End Time</label>
                <input type="time" formControlName="end_time" step="2" />
                <small class="text-danger" *ngIf="validate"
                  >End date must be greater than start date</small
                >
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Date Formed</label>
                <input
                  type="date"
                  formControlName="date_formed"
                  [ngClass]="{
                    'is-invalid':
                      departmentForm.controls['date_formed'].hasError(
                        'required'
                      ) && departmentForm.controls['date_formed'].touched
                  }"
                />
              </div>
              <div class="input">
                <label>Members</label>
                <mat-select
                  placeholder="Select members"
                  class="select"
                  multiple
                  #membersSelect_
                  [compareWith]="compareFunc"
                  formControlName="members_id"
                  (selectionChange)="handleMembersChange($event)"
                >
                  <mat-select-trigger>
                    {{ _memberList ? stripedObjValue : "" }}
                    <span class="more" *ngIf="memberItems.length > 5">
                      +{{ memberItems.length - 5 }} other item
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    #membersAll_
                    (click)="toggleAllSelection(membersAll_, membersSelect_)"
                    [value]="0"
                    >All</mat-option
                  >
                  <mat-option
                    *ngFor="let item of _memberList"
                    [value]="item"
                    (click)="toggleOne(membersAll_, membersSelect_)"
                  >
                    {{ item.user.first_name }} {{ item.user.last_name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Notify Channel </label>
                <mat-select
                  class="select"
                  placeholder="Select channel"
                  formControlName="notify_channel"
                  required
                >
                  <mat-option disabled="" selected="" value=""
                    >Select Notification Channel</mat-option
                  >
                  <mat-option
                    *ngFor="let item of notificationChannel"
                    [value]="item"
                    class="capitalize"
                    >{{ item }}</mat-option
                  >
                </mat-select>
              </div>
              <div class="input">
                <label>Notify Periods </label>
                <mat-select
                  class="select"
                  placeholder="Select period"
                  formControlName="notify_periods"
                  multiple
                >
                  <mat-option disabled="" selected="" value=""
                    >Select Notification Period</mat-option
                  >
                  <mat-option
                    *ngFor="let item of notificationPeriod"
                    [value]="item"
                    class="capitalize"
                    >{{ item }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Notification Unit </label>
                <mat-select
                  class="select"
                  placeholder="Select channel"
                  formControlName="notify_unit"
                >
                  <mat-option disabled="" selected="" value=""
                    >Select Notification Unit</mat-option
                  >
                  <mat-option
                    *ngFor="let item of notificationUnit"
                    [value]="item"
                    class="capitalize"
                    >{{ item }}</mat-option
                  >
                </mat-select>
              </div>
              <div formGroupName="roles" class="input">
                <label>Name of Department Leader</label>
                <mat-select
                  class="select"
                  placeholder="Select leader"
                  formControlName="leader"
                  required
                >
                  <mat-option disabled="" selected="" value=""
                    >Select leader</mat-option
                  >
                  <mat-option *ngFor="let item of _memberList" [value]="item.id"
                    >{{ item.user.first_name }}
                    {{ item.user.last_name }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div formGroupName="roles" class="input">
                <label>Name of Assistant</label>
                <mat-select
                  class="select"
                  placeholder="Select Assistant"
                  formControlName="assistant"
                >
                  <mat-option disabled="" selected="" value=""
                    >Select Assistant</mat-option
                  >
                  <mat-option *ngFor="let item of _memberList" [value]="item.id"
                    >{{ item.user.first_name }}
                    {{ item.user.last_name }}</mat-option
                  >
                </mat-select>
              </div>
              <div formGroupName="roles" class="input">
                <label>Name of Department Secreatary</label>
                <mat-select
                  class="select"
                  placeholder="Select Secretary"
                  formControlName="secretary"
                >
                  <mat-option disabled="" selected="" value=""
                    >Select Secretary</mat-option
                  >
                  <mat-option *ngFor="let item of _memberList" [value]="item.id"
                    >{{ item.user.first_name }}
                    {{ item.user.last_name }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="grid mb-3">
              <div class="input">
                <label>Description</label>
                <textarea
                  cols="30"
                  rows="10"
                  placeholder="Description"
                  formControlName="description"
                ></textarea>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button
                type="submit"
                mat-flat-button
                class="me-4"
                [disabled]="!updateDepartmentForm.valid"
              >
                Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </aside>
    </ng-container>
  </section>
</ng-container>
