<div class="features"
  data-aos="fade-up"
  data-aos-duration="3000">
    <div class="section-wrapper">
        <div class="h2-bg">
            <h2 class="mt-4">Features of ChurchVest</h2>
        </div>
        <h6 class="des-title pt-3">
            With just one click you can get started In enjoying the features that Church Vest offers.
        </h6>
        <div *ngIf="!allFeatures" class="features-details mt-5">
            <div class="details-wrap row mb-5">
                <div class="col-md-4" *ngFor="let item of viewSomeFeature">
                    <div class="detail-content text-center mt-3">
                        <i [class]="item.icon" aria-hidden="true"></i>
                        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                        <h3 class="mt-2">{{ item.title }}</h3>
                        <p> {{ item.description }}</p>
                    </div>
                </div>
            </div>
            <button 
              class="btn btn-outline-primary p-3 px-5"
              (click)="toggleAllFeatures()"
              >View All</button
            >
        </div>
        <div *ngIf="allFeatures" class="features-details mt-5">
            <div class="details-wrap row mb-5">
                <div class="col-md-4" *ngFor="let item of allFeaturesList">
                    <div class="detail-content text-center mt-5">
                        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                        <img *ngIf="item.image" [src]="item.image" alt="">
                        <h3 class="mt-2">{{ item.title }}</h3>
                        <p> {{ item.description }}</p>
                    </div>
                </div>
            </div>
            <button 
              class="btn btn-outline-primary p-3 px-5"
              (click)="toggleAllFeatures()"
              >View Less</button
            >
        </div>
    </div>
</div>