@import "src/scss/_vars.scss";
.features {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 4em 0;

    .section-wrapper {
        width: 100%;
        padding: 0 5%;
        margin: auto;
        @media screen and (min-width: 1440px) {
        max-width: 1420px;
        }
    }

    h2 {
        font-size: 2rem;
        background-image: url(../../../../assets/img/png/features-bg.png);   
         padding: 0.5rem 1rem;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        color: #4c5273;
    }

    .features-details {


        button {
            &:hover {
                background-color: $dark-purple;
            }
        }
        .mat-icon {
            transform: scale(1.8);
            color: $dark-purple;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}