<div class="bg-white px-4 py-3">
  <div class="summary-overview grid grid--repeat--three grid-gap-15">
    <div class="item d-flex align-items-center">
      <span class="icon green me-2"><mat-icon>trending_up</mat-icon></span>
      <div class="d-flex flex-column" style="width: 100%">
        <ng-container *ngIf="!ItemDetails"
          ><mat-spinner></mat-spinner
        ></ng-container>
        <label *ngIf="ItemDetails">{{
          ItemDetails.balance | currency: "₦":"symbol"
        }}</label>
        <div class="d-flex align-items-center justify-content-between">
          <span class="f12">This month</span>
          <!-- <span class="f12">+0 %</span> -->
        </div>
      </div>
    </div>
    <div class="item d-flex align-items-center">
      <span class="icon green me-2"><mat-icon>arrow_upward</mat-icon></span>
      <div class="d-flex flex-column" style="width: 100%">
        <ng-container *ngIf="!ItemDetails"
          ><mat-spinner></mat-spinner
        ></ng-container>
        <label *ngIf="ItemDetails">{{
          ItemDetails.income_amount | currency: "₦":"symbol"
        }}</label>
        <div class="d-flex align-items-center justify-content-between">
          <span class="f12">Income</span>
          <!-- <span class="f12">+0%</span> -->
        </div>
      </div>
    </div>
    <div class="item d-flex align-items-center">
      <span class="icon red me-2"><mat-icon>arrow_downward</mat-icon></span>
      <div class="d-flex flex-column" style="width: 100%">
        <ng-container *ngIf="!ItemDetails"
          ><mat-spinner></mat-spinner
        ></ng-container>
        <label *ngIf="ItemDetails">{{
          ItemDetails.expense_amount | currency: "₦":"symbol"
        }}</label>
        <div class="d-flex align-items-center justify-content-between">
          <span class="f12">Expense</span>
          <!-- <span class="f12">+0%</span> -->
        </div>
      </div>
    </div>
  </div>
  <div class="block mt-3">
    <app-chart-graph _chartType="pie"></app-chart-graph>
  </div>
</div>
