<div class="bg-white px-4 py-3">
  <div class="summary-overview grid grid--repeat--three grid-gap-15">
    <div class="item d-flex align-items-center">
      <span class="icon green me-2"><mat-icon>trending_up</mat-icon></span>
      <div class="d-flex flex-column" style="width: 100%">
        <label>₦500,000</label>
        <div class="d-flex align-items-center justify-content-between">
          <span class="f12">This month</span>
          <span class="f12">+16.25 %</span>
        </div>
      </div>
    </div>
    <div class="item d-flex align-items-center">
      <span class="icon green me-2"><mat-icon>arrow_upward</mat-icon></span>
      <div class="d-flex flex-column" style="width: 100%">
        <label>₦1M</label>
        <div class="d-flex align-items-center justify-content-between">
          <span class="f12">Income</span>
          <span class="f12">+16.25 %</span>
        </div>
      </div>
    </div>
    <div class="item d-flex align-items-center">
      <span class="icon red me-2"><mat-icon>arrow_downward</mat-icon></span>
      <div class="d-flex flex-column" style="width: 100%">
        <label>₦200,000</label>
        <div class="d-flex align-items-center justify-content-between">
          <span class="f12">Expense</span>
          <span class="f12">+16.25 %</span>
        </div>
      </div>
    </div>
  </div>
  <div class="block mt-3">
    <app-chart-graph _chartType="line"></app-chart-graph>
  </div>
</div>
