<section class="subscribe" data-aos="fade-up" data-aos-duration="3000">
  <div class="section-wrapper">
    <div class="content">
      <h2 class="title">Join Mailing List</h2>
      <p>
        Stay in touch with our growth. Just enter your email address below and
        we’ll keep you up to date with latest features added.
      </p>
      <div class="form-wrap">
        <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
          <div class="form-container">
            <div class="input-wrap">
              <input
                type="email"
                formControlName="email"
                placeholder="Enter your email address"
              />
            </div>
            <button
              class="py-md-3 px-md-4 p-2"
              [disabled]="!subscribeForm.valid"
            >
              Subscribe Me
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
