<section class="subscribe">
    <div class="container">
        <div class="content">
            <h2 class="title">Join Mailing List</h2>
            <p>
                Stay in touch with our growth. Just enter your email address below and 
                we’ll keep you up to date with latest features added.
            </p>
            <div class="form-wrap">
                <form>
                    <input
                      type="email"
                      placeholder="Enter your email address"
                    />
                    <button
                      class="py-md-3 px-md-4 p-2"
                      >Subscribe Me</button
                    >
                </form>
            </div>
        </div>
    </div>
</section>