<section class="footer pt-5"
  data-aos="fade-up"
  data-aos-duration="3000"
  >
    <footer class="container">
        <div class="footer-grid row justify-content-between">
            <div class="col-md-4">
                <div class="logo-section column">
                    <h3>Churchvest</h3>
                    <p>
                        Church Vest has everything you need to get you started in managing 
                        your Church. Explore these features for yourself by creating an 
                        account for your church and it only takes a few minutes to set up.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="column">
                  <h3>Quick Link</h3>
                  <ul class="list-unstyled">
                    <li><a href="/#features">Features</a></li>
                    <li><a href="/#tutorial">How it works</a></li>
                    <li><a href="#">Book a demo</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="column">
                    <h3>Core Features</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Church Management</a></li>
                        <li><a href="#">Church Administration</a></li>
                        <li><a href="#">Church Locator [COMING SOON]</a></li>
                        <li><a href="#">Church Communication</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="column pb-4">
                    <h3>Social Links</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://web.facebook.com/ChurchVest/">
                              Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/churchvest">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/church_vest">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>