@import "src/scss/_vars.scss";
.footer {
    font-family: "Roboto", san-serif;
    padding: 1em 0;
    .column {
        margin-top: 1em;
        h3 {
            font-weight: bold;
            margin-bottom: 1em;
        }
        p {
            line-height: 2;
            font-size: 1.2rem;
        }
        ul {
            li {
                a {
                    color: black;
                    display: block!important;
                    font-size: 1.2rem;
                    margin: 12px 0;
                    transform: .3s all ease-in;
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
     
    }
}