<section>
  <div class="header d-flex align-items-center justify-content-between mb-4">
    <div class="title">All Members</div>
    <div class="d-flex align-items-center">
      <button mat-stroked-button routerLink="/portal/people/members/add-new">
        <mat-icon class="me-2">add</mat-icon> Add New Member
      </button>
      <button
        mat-stroked-button
        class="ms-3"
        data-bs-toggle="modal"
        data-bs-target="#bulk-upload"
      >
        <mat-icon class="me-2">upload_file</mat-icon> Bulk Upload
      </button>
    </div>
  </div>
  <div
    class="d-flex justify-content-center align-items-center my-3 empty-state"
    *ngIf="!_loading && (!memberList || memberList.length === 0)"
  >
    <span class="txt-grey txt-md"
      >No record found! Please create a record.</span
    >
  </div>
  <ng-container *ngIf="_loading">
    <app-loading-roller></app-loading-roller>
  </ng-container>
  <div
    class="overflow--wrap _visible"
    [ngClass]="{ hide: memberList.length == 0 }"
  >
    <div class="table-wrapper tbl-wrap">
      <ng-container *ngIf="memberList.length !== 0">
        <div
          class="toolbar mb-5 adjust-wrap d-flex justify-content-between align-items-center"
        >
          <div
            class="d-flex align-items-center justify-content-start adjust-flex"
          >
            <div
              class="d-flex align-items-center mr-1"
              style="width: fit-content"
            >
              <!-- Master Checkbox-->
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </div>
            <div class="search-input w-400 m-0">
              <span><mat-icon>search</mat-icon></span>
              <input
                type="text"
                placeholder="Search"
                (keyup)="applyFilter($event)"
                #input
                class="w-400"
              />
            </div>
            <!-- Export as-->
            <div class="ms-3">
              <button
                mat-stroked-button
                class="mat-stroked-secondary mr-1"
                [matMenuTriggerFor]="exportAs"
              >
                Export as
              </button>
              <mat-menu #exportAs="matMenu">
                <button mat-menu-item (click)="exportToExcel()">
                  Download as Excel
                </button>
              </mat-menu>
            </div>
            <!-- Print-->
            <div>
              <button
                mat-button
                class="print ms-1"
                (click)="_printElement('print-section')"
              >
                <mat-icon class="me-2">print</mat-icon> Print
              </button>
            </div>
          </div>

          <div
            class="animate animate__bounceIn"
            *ngIf="selection.selected.length !== 0"
          >
            <button
              mat-stroked-button
              class="text-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-member"
              (click)="
                _isAllSelected = true;
                _isSingleSelected = false;
                getSelectedMemberItem(selection.selected)
              "
            >
              Trash
              {{
                selection.selected.length == memberList.length
                  ? "All"
                  : selection.selected.length > 0
                  ? selection.selected.length
                  : null
              }}
            </button>
          </div>
          <div>
            <button
              mat-button
              routerLink="/portal/people/members/trash"
              class="btn--primary"
            >
              <mat-icon>restore_from_trash</mat-icon> View Trash
            </button>
          </div>
        </div>
        <table
          mat-table
          [dataSource]="dataSource"
          class="table custom-table w--100"
          style="width: 100%"
          id="print-section"
        >
          <ng-container
            *ngFor="
              let disCol of displayedColumns;
              let colIndex = index;
              let last = last
            "
            [matColumnDef]="disCol"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ disCol }}
            </th>
            <ng-container *ngIf="colIndex === 0">
              <td *matCellDef="let element">
                <mat-checkbox
                  [value]="element"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(element) : null"
                  [checked]="selection.isSelected(element)"
                  [disabled]="element.role == 'admin'"
                >
                  <span>{{ element["user"].first_name }}</span>
                </mat-checkbox>
              </td>
            </ng-container>
            <!--Action Column-->
            <ng-container *ngIf="last">
              <td mat-cell *matCellDef="let element">
                <div [matMenuTriggerFor]="menu">
                  <span class="cursor">
                    <mat-icon>more_horiz</mat-icon>
                  </span>
                  <mat-menu #menu="matMenu">
                    <button
                      type="button"
                      mat-menu-item
                      data-bs-toggle="modal"
                      data-bs-target="#view-details"
                      (click)="getMemberDetails(element.id)"
                    >
                      View
                    </button>
                    <button
                      mat-menu-item
                      [routerLink]="['/portal/people/members/update']"
                      [queryParams]="{
                        query: 'edit',
                        id: element.id
                      }"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      mat-menu-item
                      data-bs-toggle="modal"
                      data-bs-target="#delete-member"
                      (click)="
                        _isSingleSelected = true;
                        _isAllSelected = false;
                        getMemberDetails(element.id)
                      "
                      *ngIf="element['role'] == 'member'"
                    >
                      Move to trash
                    </button>
                  </mat-menu>
                </div>
              </td>
            </ng-container>
            <!--Table  Row Content-->
            <ng-container *ngIf="disCol == 'last name'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["user"].last_name }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'role'">
              <td mat-cell *matCellDef="let element">
                <span
                  class="tag"
                  [ngClass]="{
                    green: element.role == 'admin',
                    purple: element.role == 'member'
                  }"
                  >{{ element["role"] }}</span
                >
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'phone'">
              <td mat-cell *matCellDef="let element">
                <span>{{
                  element["user"].phone ? element["user"].phone : "---"
                }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'email'">
              <td mat-cell *matCellDef="let element">
                <span class="lowercase">{{
                  element["user"].email ? element["user"].email : "---"
                }}</span>
              </td>
            </ng-container>
            <td mat-cell *matCellDef="let element">
              <span> {{ element[_concatColumnString(disCol)] }}</span>
            </td>
          </ng-container>
          <!--Mat-table  configurations-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{
              'bg-wrap': selection.isSelected(row)
            }"
          ></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the search item: "{{ filterValue }}"
            </td>
          </tr>
        </table>
      </ng-container>
      <mat-paginator
        showFirstLastButton
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        (page)="pageChanged($event)"
        class="visibility"
        [ngClass]="{ hidden: memberList.length == 0 }"
      ></mat-paginator>
    </div>
  </div>
</section>
<div class="modal fade" id="view-details" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Member Details</div>
          <mat-icon data-bs-dismiss="modal" class="cursor">close</mat-icon>
        </div>
        <div class="container px-0">
          <ng-container *ngIf="_loading_">
            <app-loading-roller></app-loading-roller>
          </ng-container>
          <div class="details-panel">
            <mat-divider></mat-divider>
            <mat-tab-group
              animationDuration="0.5ms"
              class="py-4"
              *ngIf="itemDetails && !_loading_"
            >
              <mat-tab label="Personal Information">
                <ng-container>
                  <div class="details-wrap-list scroll">
                    <div class="grid mb-3">
                      <div class="d-flex avatar">
                        <img
                          src="assets/img/png/avatar.png"
                          alt="avatar"
                          *ngIf="!itemDetails.profile"
                        />
                        <img
                          [src]="itemDetails.profile"
                          alt="avatar"
                          *ngIf="itemDetails.profile"
                        />
                      </div>
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >First Name<span>{{
                          itemDetails.user.first_name
                        }}</span></label
                      >
                      <label
                        >Last Name<span>{{
                          itemDetails.user.last_name
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Email Address<span>{{
                          itemDetails.user.email
                        }}</span></label
                      >
                      <label
                        >Phone Number<span>{{
                          itemDetails["user"].phone !== null
                            ? itemDetails["user"].phone
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Date of Birth<span>{{
                          itemDetails["user"].details.personal.date_of_birth !==
                          null
                            ? itemDetails["user"].details.personal.date_of_birth
                            : "---"
                        }}</span></label
                      >
                      <label
                        >Residential Area<span>{{
                          itemDetails["user"].details.personal
                            .residential_area !== null
                            ? itemDetails["user"].details.personal
                                .residential_area
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Residential Address<span>{{
                          itemDetails["user"].details.personal.address !== null
                            ? itemDetails["user"].details.personal.address
                            : "---"
                        }}</span></label
                      >
                      <label
                        >Closest Bus stop<span>{{
                          itemDetails["user"].details.personal
                            .nearest_bus_stop !== null
                            ? itemDetails["user"].details.personal
                                .nearest_bus_stop
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Gender<span>{{
                          itemDetails["user"].details.personal.gender !== null
                            ? itemDetails["user"].details.personal.gender
                            : "---"
                        }}</span></label
                      >
                      <label
                        >Marital Status<span>{{
                          itemDetails["user"].details.personal.relationship !==
                          null
                            ? itemDetails["user"].details.personal.relationship
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Marital Date<span>{{
                          itemDetails["user"].details.personal
                            .date_of_marriage !== null
                            ? itemDetails["user"].details.personal
                                .date_of_marriage
                            : "---"
                        }}</span></label
                      >
                    </div>
                  </div>
                </ng-container>
              </mat-tab>
              <mat-tab label="Membership Information">
                <ng-container>
                  <div class="details-wrap-list">
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Date of membership
                        <span>{{
                          itemDetails.details?.service?.date_of_membership
                            ? (itemDetails.details?.service.date_of_membership
                              | date: "mediumDate")
                            : "---"
                        }}</span>
                      </label>
                      <label>Worker position<span>---</span></label>
                    </div>
                  </div>
                </ng-container>
              </mat-tab>
              <mat-tab label="Other Information">
                <ng-container>
                  <div class="details-wrap-list">
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Occupation of Member
                        <span>{{
                          itemDetails.details?.other?.occupation
                            ? itemDetails.details?.other.occupation
                            : "---"
                        }}</span>
                      </label>
                      <label
                        >Comment
                        <span>{{
                          itemDetails.details?.other?.comment
                            ? itemDetails.details?.other.comment
                            : "---"
                        }}</span>
                      </label>
                    </div>
                  </div>
                </ng-container>
              </mat-tab>
              <mat-tab label="Fellowship Membership">
                <ng-container>
                  <div class="details-wrap-list">
                    <p class="txt-grey" style="font-size: 12px">
                      No information at the momenet.
                    </p>
                  </div>
                </ng-container>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end px-4">
          <button type="button" mat-stroked-button data-bs-dismiss="modal">
            Dismiss
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-member" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Move to trash</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <ng-container *ngIf="_loading_">
              <app-loading-roller></app-loading-roller>
            </ng-container>
            <div
              class="center"
              *ngIf="itemDetails && !_loading_ && _isSingleSelected"
            >
              <p>
                Are you sure you want to move this member
                <span
                  >{{ itemDetails["user"].first_name }}
                  {{ itemDetails["user"].last_name }}</span
                >
                to trash? This will be temporarily deleted, and can be recovered
                from trash
              </p>
            </div>
            <div class="center" *ngIf="_isAllSelected">
              <p>
                Are you sure you want to move
                <span>
                  {{ selectedMembers.length }}
                  {{ selectedMembers.length == 1 ? "member" : "members" }}
                </span>
                to trash? This will be temporarily deleted, and can be recovered
                from trash
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3" (click)="confirmDelete()">
            Move <mat-spinner *ngIf="isBusy"> </mat-spinner>
          </button>
          <button mat-stroked-button data-bs-dismiss="modal" #closebtn>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bulk-upload" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Bulk Upload</div>
          <mat-icon
            class="cursor"
            data-bs-dismiss="modal"
            class="cursor"
            #closebtn_
            >close</mat-icon
          >
        </div>
        <div class="container">
          <div class="mb-2 d-flex justify-content-end mt-3">
            <a
              mat-stroked-button
              download="members_upload"
              target="_blank"
              href="/assets/members_upload.xlsx"
            >
              Download sample template
            </a>
          </div>
          <form class="pb-3">
            <div class="form-wrap w--400 mt-0">
              <div class="dashed-border bg-white">
                <div
                  class="d-flex flex-column align-items-center justify-content-center"
                >
                  <input
                    type="file"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    hidden=""
                    (change)="
                      bulkUpload.changedocListener($event, uploadedFile)
                    "
                    #uploadFile
                  />
                  <div
                    class="my-2 cursor"
                    #uploadedFile
                    (click)="bulkUpload.addDoc(uploadFile)"
                  >
                    <div class="d-flex justify-content-center">
                      <img src="assets/img/svg/xls-icon.svg" alt="pdf-icon" />
                    </div>
                    <div class="block mt-2" *ngIf="!bulkUpload._filename">
                      <p>
                        Drop your file here, or <span>browse</span>
                        <small
                          >Only XLS, XLSX files are allowed for upload</small
                        >
                      </p>
                    </div>
                  </div>
                  <div>
                    <div class="d-flex align-items-center flex-column">
                      <div class="d-flex align-items-center">
                        <span
                          title="Change file"
                          data-bs-toggle="tooltip"
                          class="d-flex file-name align-items-center cursor"
                          (click)="bulkUpload.addDoc(uploadFile)"
                          *ngIf="bulkUpload._isUploaded"
                        >
                          {{ bulkUpload.getFileName }} ({{
                            bulkUpload.getFileSize
                          }})
                          <span class="ms-2"><mat-icon>edit</mat-icon></span>
                        </span>
                      </div>
                      <div class="mt-2">
                        <button
                          type="button"
                          mat-flat-button
                          [disabled]="!bulkUpload._isUploaded"
                          (click)="bulkUpload.uploadBulk(closebtn_)"
                        >
                          Upload
                          <mat-spinner *ngIf="bulkUpload.isBusy"> </mat-spinner>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
