<section>
  <div class="header d-flex align-items-center justify-content-between mb-4">
    <div class="title">All Members</div>
    <button mat-stroked-button routerLink="/portal/people/add-member">
      <mat-icon class="me-2">add</mat-icon> Add New Member
    </button>
  </div>
  <div
    class="d-flex justify-content-center align-items-center my-3 empty-state"
    *ngIf="!_loading && (!memberList || memberList.length === 0)"
  >
    <span class="txt-grey txt-md"
      >No record found! Please create a record.</span
    >
  </div>
  <ng-container *ngIf="_loading">
    <app-loading-roller></app-loading-roller>
  </ng-container>
  <div
    class="overflow--wrap _visible"
    [ngClass]="{ hide: memberList.length == 0 }"
  >
    <div class="table-wrapper tbl-wrap">
      <ng-container *ngIf="memberList.length !== 0">
        <div class="toolbar mb-5 adjust-wrap">
          <div
            class="d-flex align-items-center justify-content-start adjust-flex"
          >
            <div
              class="d-flex align-items-center mr-1"
              style="width: fit-content"
            >
              <!-- Master Checkbox-->
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </div>
            <div class="search-input w-400 m-0">
              <span><mat-icon>search</mat-icon></span>
              <input
                type="text"
                placeholder="Search"
                (keyup)="applyFilter($event)"
                class="w-400"
                #input
              />
            </div>
            <!-- Export as-->
            <div class="ms-3">
              <button
                mat-stroked-button
                class="mat-stroked-secondary mr-1"
                [matMenuTriggerFor]="exportAs"
              >
                Export as
              </button>
              <mat-menu #exportAs="matMenu">
                <button mat-menu-item (click)="exportToExcel()">
                  Download as Excel
                </button>
              </mat-menu>
            </div>
            <!-- Print-->
            <div>
              <button
                mat-button
                class="print ms-1"
                (click)="_printElement('print-section')"
              >
                <mat-icon class="me-2">print</mat-icon> Print
              </button>
            </div>
          </div>
        </div>
        <table
          mat-table
          [dataSource]="dataSource"
          class="table custom-table w--100"
          style="width: 100%"
          id="print-section"
        >
          <ng-container
            *ngFor="
              let disCol of displayedColumns;
              let colIndex = index;
              let last = last
            "
            [matColumnDef]="disCol"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ disCol }}
            </th>
            <ng-container *ngIf="colIndex === 0">
              <td *matCellDef="let element">
                <mat-checkbox
                  [value]="element"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(element) : null"
                  [checked]="selection.isSelected(element)"
                >
                  <span>{{ element["user"].first_name }}</span>
                </mat-checkbox>
              </td>
            </ng-container>
            <!--Action Column-->
            <ng-container *ngIf="last">
              <td mat-cell *matCellDef="let element">
                <div [matMenuTriggerFor]="menu">
                  <span class="cursor">
                    <mat-icon>more_horiz</mat-icon>
                  </span>
                  <mat-menu #menu="matMenu">
                    <button
                      type="button"
                      mat-menu-item
                      data-bs-toggle="modal"
                      data-bs-target="#view-details"
                      (click)="getMemberDetails(element['user'].id)"
                    >
                      View
                    </button>
                    <button
                      mat-menu-item
                      [routerLink]="['/portal/people/add-member']"
                      [queryParams]="{
                        query: 'edit',
                        id: element['user'].id
                      }"
                    >
                      Edit
                    </button>
                  </mat-menu>
                </div>
              </td>
            </ng-container>
            <!--Table  Row Content-->
            <ng-container *ngIf="disCol == 'last name'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["user"].last_name }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'phone'">
              <td mat-cell *matCellDef="let element">
                <span>{{
                  element["user"].phone ? element["user"].phone : "---"
                }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'email'">
              <td mat-cell *matCellDef="let element">
                <span class="lowercase">{{
                  element["user"].email ? element["user"].email : "---"
                }}</span>
              </td>
            </ng-container>

            <td mat-cell *matCellDef="let element">
              <span> {{ element[_concatColumnString(disCol)] }}</span>
            </td>
          </ng-container>
          <!--Mat-table  configurations-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{
              'bg-wrap': selection.isSelected(row)
            }"
          ></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the search item: "{{ input.value }}"
            </td>
          </tr>
        </table>
      </ng-container>
      <mat-paginator
        showFirstLastButton
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        (page)="pageChanged($event)"
      ></mat-paginator>
    </div>
  </div>
</section>
<div class="modal fade" id="view-details" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Member Details</div>
          <mat-icon data-bs-dismiss="modal" class="cursor">close</mat-icon>
        </div>
        <div class="container px-0">
          <ng-container *ngIf="!itemDetails">
            <app-loading-roller></app-loading-roller>
          </ng-container>
          <div class="details-panel">
            <mat-divider></mat-divider>
            <mat-tab-group animationDuration="0.5ms" class="py-4">
              <mat-tab label="Personal Information">
                <ng-container *ngIf="itemDetails">
                  <div class="details-wrap-list">
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >First Name<span>{{
                          itemDetails.user.first_name
                        }}</span></label
                      >
                      <label
                        >Last Name<span>{{
                          itemDetails.user.last_name
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Email Address<span>{{
                          itemDetails.user.email
                        }}</span></label
                      >
                      <label>Phone Number<span>08163223507</span></label>
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Date of Birth<span>{{
                          itemDetails["user"].details.personal !== null
                            ? itemDetails["user"].details.personal.date_of_birth
                            : "---"
                        }}</span></label
                      >
                      <label
                        >Residential Area<span>{{
                          itemDetails["user"].details.personal !== null
                            ? itemDetails["user"].details.personal
                                .residential_area
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Residential Address<span>{{
                          itemDetails["user"].details.personal !== null
                            ? itemDetails["user"].details.personal.address
                            : "---"
                        }}</span></label
                      >
                      <label
                        >Closest Bus stop<span>{{
                          itemDetails["user"].details.personal !== null
                            ? itemDetails["user"].details.personal
                                .nearest_bus_stop
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Gender<span>{{
                          itemDetails["user"].details.personal !== null
                            ? itemDetails["user"].details.personal.gender
                            : "---"
                        }}</span></label
                      >
                      <label
                        >Marital Status<span>{{
                          itemDetails["user"].details.personal.relationship !==
                          null
                            ? itemDetails["user"].details.personal.relationship
                            : "---"
                        }}</span></label
                      >
                    </div>
                    <div class="grid grid--1fr--1fr mb-3">
                      <label
                        >Marital Date<span>{{
                          itemDetails["user"].details.personal
                            .date_of_marriage !== null
                            ? itemDetails["user"].details.personal
                                .date_of_marriage
                            : "---"
                        }}</span></label
                      >
                    </div>
                  </div>
                </ng-container>
              </mat-tab>
              <mat-tab label="Membership Information">
                <p>This is member info</p>
              </mat-tab>
              <mat-tab label="Other Information">
                <p>This is other info</p>
              </mat-tab>
              <mat-tab label="Service Information">
                <p>This is service info</p>
              </mat-tab>
              <mat-tab label="Comment">
                <p>This is comment</p>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end px-4">
          <button type="button" mat-stroked-button data-bs-dismiss="modal">
            Dismiss
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
