@import '/src/scss/_vars.scss';
.tutorial {
    background-color: $dark-grey;
    text-align: center;
    padding: 3em 0;
  
  .section-wrapper {
    width: 100%;
    padding: 0 5%;
    margin: auto;
    @media screen and (min-width: 1440px) {
      max-width: 1420px;
    }
  }

    h2 {        
        font-size: 220%;
        margin-bottom: 1em;
    }
    p {
        font-size: 1.2rem;
    }
    .video {
        max-width: 700px;
        margin: auto;
    }
}