<section 
  id="tutorial" class="tutorial"
  data-aos="fade-up"
  data-aos-duration="3000"
  >
    <div class="section-wrapper">
        <div class="tutorial-wrap">
            <h2>How It Works</h2>
            <p>
                Click on the tutorial video below to understand more on how ChurchVest works.
            </p>
            <div class="video">
                <video class="mt-4 w-100" controls duration>
                <source
                    src="assets/video/how-it-works.mp4"
                    type="video/mp4"
                    />

                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        </div>
    </div>
</section>