<div class="d-flex align-items-center mb-4 cursor" (click)="gotoBack()">
  <button mat-icon-button class="me-2 return-link-wrap">
    <mat-icon>west</mat-icon>
  </button>
  <div class="title-sm">Back</div>
</div>
<ng-container>
  <section class="stepper-wrapper full">
    <aside *ngIf="queryString !== 'edit'">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-wrap">
          <div class="title mb-2">First Timer</div>
          <mat-divider></mat-divider>
          <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
            <div class="input">
              <label>First name</label>
              <input
                type="text"
                placeholder="Enter first name"
                formControlName="first_name"
                [ngClass]="{
                  'is-invalid':
                    form.controls['first_name'].hasError('required') &&
                    form.controls['first_name'].touched
                }"
              />
            </div>
            <div class="input">
              <label>Last Name </label>
              <input
                type="text"
                placeholder="Enter last name"
                formControlName="last_name"
                [ngClass]="{
                  'is-invalid':
                    form.controls['last_name'].hasError('required') &&
                    form.controls['last_name'].touched
                }"
              />
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Email</label>
              <input
                type="email"
                placeholder="Enter email address"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    form.controls['email'].hasError('required') &&
                    form.controls['email'].touched &&
                    !form.controls['email'].valid
                }"
              />
            </div>
            <div class="input">
              <label>Phone number </label>
              <input
                type="text"
                maxlength="11"
                placeholder="Enter phone number"
                formControlName="phone"
                [ngClass]="{
                  'is-invalid':
                    form.controls['phone'].hasError('required') &&
                    form.controls['phone'].touched
                }"
              />
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Date of birth</label>
              <input
                type="date"
                [max]="maxDate"
                pattern="^(19[5-9][0-9]|20[0-4][0-9]|2050)[-/](0?[1-9]|1[0-2])[-/](0?[1-9]|[12][0-9]|3[01])$"
                placeholder="Enter date of birth"
                formControlName="date_of_birth"
              />
            </div>
            <div class="input">
              <label>Country </label>
              <mat-select
                class="select"
                placeholder="Select category"
                formControlName="country"
              >
                <mat-option disabled="" selected="" value=""
                  >Select country</mat-option
                >
                <mat-option value="Nigeria">Nigeria</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Residential area</label>
              <input
                type="text"
                placeholder="Enter area of residence"
                formControlName="residential_area"
              />
            </div>
            <div class="input">
              <label>Address </label>
              <input
                type="text"
                placeholder="Enter residential adress"
                formControlName="address"
                [ngClass]="{
                  'is-invalid':
                    form.controls['address'].hasError('required') &&
                    form.controls['address'].touched
                }"
              />
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Nearest bus-stop</label>
              <input
                type="text"
                placeholder="Enter bus stop closest to you"
                formControlName="nearest_bus_stop"
              />
            </div>
            <div class="input">
              <label>Occupation</label>
              <input
                type="text"
                placeholder="Enter occupation"
                formControlName="occupation"
              />
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Relationship status </label>
              <mat-select
                class="select"
                placeholder="Select relationship status"
                formControlName="relationship"
                (selectionChange)="handleRelationshipChange($event)"
                [ngClass]="{
                  'is-invalid':
                    form.controls['relationship'].hasError('required') &&
                    form.controls['relationship'].touched
                }"
              >
                <mat-option disabled="" selected="" value=""
                  >Select relationship</mat-option
                >
                <mat-option value="single">Single</mat-option>
                <mat-option value="married">Married</mat-option>
              </mat-select>
            </div>
            <div class="input">
              <label>Marriage Date </label>
              <input
                type="date"
                [max]="maxDate"
                pattern="^(19[5-9][0-9]|20[0-4][0-9]|2050)[-/](0?[1-9]|1[0-2])[-/](0?[1-9]|[12][0-9]|3[01])$"
                placeholder="Enter date of marriage"
                [attr.disabled]="true"
                formControlName="date_of_marriage"
              />
            </div>
          </div>
          <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input">
              <label>Follow up team</label>
              <mat-select
                placeholder="Select follow up members"
                class="select"
                multiple
                #matSelect
                formControlName="follow_up_team"
                (selectionChange)="handleMembersChange($event)"
              >
                <mat-select-trigger>
                  {{ _memberList ? stripedObjValue : "" }}
                  <span class="more" *ngIf="memberItems.length > 5">
                    +{{ memberItems.length - 5 }} other item
                  </span>
                </mat-select-trigger>
                <mat-option
                  #allSelected
                  (click)="toggleAllSelection()"
                  [value]="0"
                  >All</mat-option
                >
                <mat-option
                  *ngFor="let item of _memberList"
                  [value]="item"
                  (click)="toggleOne()"
                >
                  {{ item.user.first_name }} {{ item.user.last_name }}
                </mat-option>
              </mat-select>
            </div>
            <div class="input m-0">
              <div class="d-flex flex-column">
                <label>Gender </label>
                <mat-radio-group
                  style="line-height: 34px"
                  formControlName="gender"
                  [ngClass]="{
                    'is-invalid':
                      form.controls['gender'].hasError('required') &&
                      form.controls['gender'].touched
                  }"
                >
                  <mat-radio-button value="male" class="me-2"
                    >Male</mat-radio-button
                  >
                  <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button
              type="submit"
              mat-flat-button
              class="me-4"
              [disabled]="!form.valid"
            >
              Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
            </button>
          </div>
        </div>
      </form>
    </aside>
    <ng-container *ngIf="queryString == 'edit' && !itemDetails">
      <app-loading-roller></app-loading-roller>
    </ng-container>
    <ng-container *ngIf="queryString == 'edit' && itemDetails">
      <aside>
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
          <div class="form-wrap">
            <div class="title mb-2">Update First Timer</div>
            <mat-divider></mat-divider>
            <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
              <div class="input">
                <label>First name</label>
                <input
                  type="text"
                  placeholder="Enter first name"
                  formControlName="first_name"
                  [ngClass]="{
                    'is-invalid':
                      form.controls['first_name'].hasError('required') &&
                      form.controls['first_name'].touched
                  }"
                />
              </div>
              <div class="input">
                <label>Last Name </label>
                <input
                  type="text"
                  placeholder="Enter last name"
                  formControlName="last_name"
                  [ngClass]="{
                    'is-invalid':
                      form.controls['last_name'].hasError('required') &&
                      form.controls['last_name'].touched
                  }"
                />
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Email</label>
                <input
                  type="email"
                  placeholder="Enter email address"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      form.controls['email'].hasError('required') &&
                      form.controls['email'].touched &&
                      !form.controls['email'].valid
                  }"
                />
              </div>
              <div class="input">
                <label>Phone number </label>
                <input
                  type="text"
                  maxlength="11"
                  placeholder="Enter phone number"
                  formControlName="phone"
                  [ngClass]="{
                    'is-invalid':
                      form.controls['phone'].hasError('required') &&
                      form.controls['phone'].touched
                  }"
                />
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Date of birth</label>
                <input
                  type="date"
                  [max]="maxDate"
                  pattern="^(19[5-9][0-9]|20[0-4][0-9]|2050)[-/](0?[1-9]|1[0-2])[-/](0?[1-9]|[12][0-9]|3[01])$"
                  placeholder="Enter date of birth"
                  formControlName="date_of_birth"
                />
              </div>
              <div class="input">
                <label>Country </label>
                <mat-select
                  class="select"
                  placeholder="Select category"
                  formControlName="country"
                >
                  <mat-option disabled="" selected="" value=""
                    >Select country</mat-option
                  >
                  <mat-option value="Nigeria">Nigeria</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Residential area</label>
                <input
                  type="text"
                  placeholder="Enter area of residence"
                  formControlName="residential_area"
                />
              </div>
              <div class="input">
                <label>Address </label>
                <input
                  type="text"
                  placeholder="Enter residential adress"
                  formControlName="address"
                  [ngClass]="{
                    'is-invalid':
                      form.controls['address'].hasError('required') &&
                      form.controls['address'].touched
                  }"
                />
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Nearest bus-stop</label>
                <input
                  type="text"
                  placeholder="Enter bus stop closest to you"
                  formControlName="nearest_bus_stop"
                />
              </div>
              <div class="input">
                <label>Occupation</label>
                <input
                  type="text"
                  placeholder="Enter occupation"
                  formControlName="occupation"
                />
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mb-3">
              <div class="input">
                <label>Relationship status </label>
                <mat-select
                  class="select"
                  placeholder="Select relationship status"
                  formControlName="relationship"
                  (selectionChange)="handleRelationshipChange($event)"
                >
                  <mat-option disabled="" selected="" value=""
                    >Select relationship</mat-option
                  >
                  <mat-option value="single">Single</mat-option>
                  <mat-option value="married">Married</mat-option>
                </mat-select>
              </div>
              <div class="input">
                <label>Marriage Date </label>
                <input
                  type="date"
                  [max]="maxDate"
                  pattern="^(19[5-9][0-9]|20[0-4][0-9]|2050)[-/](0?[1-9]|1[0-2])[-/](0?[1-9]|[12][0-9]|3[01])$"
                  placeholder="Enter date of marriage"
                  [attr.disabled]="true"
                  formControlName="date_of_marriage"
                />
              </div>
            </div>

            <div class="d-flex align-items-center">
              <button
                type="submit"
                mat-flat-button
                class="me-4"
                [disabled]="!updateForm.valid"
              >
                Update <mat-spinner *ngIf="isBusy"> </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </aside>
    </ng-container>
  </section>
</ng-container>
