/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/scss/_vars.scss";
@import "../src/scss/_buttons.scss";
@import "../src/scss/_input.scss";
@import "../src/scss/_misc.scss";
@import "../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss";
@import "~ngx-toastr/toastr";

body,
html {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none !important;
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

mat-spinner {
  width: 20px !important;
  height: 20px !important;
  margin-left: 10px;
  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #f44336 !important;
}
.mat-paginator-container {
  padding: 0em 3em !important;
}
.mat-paginator-container {
  justify-content: space-between !important;
}

.mat-select-disabled .mat-select-value {
  color: rgba(205, 215, 220, 0.5) !important;
}
.mat-checkbox-label {
  display: flex;
  align-items: center;
}
ngx-guided-tour {
  .tour-step {
    h3 {
      &.tour-title {
        font-size: 17px !important;
        padding-bottom: 9px !important;
      }
    }
    h2 {
      &.tour-title {
        font-size: 24px;
        text-align: center;
        padding-bottom: 9px !important;
      }
    }
    .tour-block {
      border-radius: 8px;
    }
    .tour-buttons {
      .next-button {
        height: 30px !important;
        font-size: 12px !important;
        border-radius: 2px !important;
        background-color: $purple !important;
        display: flex;
        align-items: center;
      }
      button.link-button {
        top: 3px;
        font-size: 14px !important;
        color: rgba(#000, 0.3) !important;
      }
      button.skip-button {
        font-size: 12px !important;
      }
    }
    .tour-content {
      font-size: 13px !important;
      color: rgba(#000, 0.4);
    }
  }
  .guided-tour-spotlight-overlay {
    border-radius: 4px;
    border: 1px solid $purple;
  }
}
