$white: #fff;
$blue: #4847e0;
$light-blue: #2e9cda;
$black: #080730;
$green: #5dd493;
$grey: #a3acbf;
$light-grey: #343a40;
$dark-grey: #f5f5f5;
$yellow: #e2d136;
$orange: #f2994a;
$red: #eb5757;
// $purple: #6f6af8bd;
$purple: #463e79;
$light-purple: #6f6af8bd;
