<div class="d-flex align-items-center mb-4 cursor" (click)="gotoBack()">
  <button mat-icon-button class="me-2 return-link-wrap">
    <mat-icon>west</mat-icon>
  </button>
  <div class="title-sm">Back</div>
</div>
<ng-container>
  <section class="stepper-wrapper full">
    <aside *ngIf="queryString !== 'edit'">
      <form [formGroup]="mediaForm" (ngSubmit)="onSubmit()">
        <div class="form-wrap">
          <div class="title mb-2">New Media</div>
          <mat-divider></mat-divider>
          <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
            <div class="input">
              <label>Media type </label>
              <mat-select
                class="select"
                placeholder="Select media type"
                formControlName="type"
                (selectionChange)="handleMediaTypeChange($event)"
                [ngClass]="{
                  'is-invalid':
                    mediaForm.controls['type'].hasError('required') &&
                    mediaForm.controls['type'].touched
                }"
              >
                <mat-option disabled="" selected="" value=""
                  >Select media type</mat-option
                >
                <mat-option
                  *ngFor="let item of mediaTypeList"
                  [value]="item"
                  class="capitalize"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </div>
            <div class="input">
              <label>Media title </label>
              <input
                type="text"
                placeholder="Enter title"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    mediaForm.controls['title'].hasError('required') &&
                    mediaForm.controls['title'].touched
                }"
              />
            </div>
          </div>
          <div class="grid mb-3">
            <div class="input">
              <label>Media Owner</label>
              <input
                type="text"
                formControlName="owner_name"
                placeholder="Enter name"
              />
            </div>
          </div>
          <div
            class="grid mb-3"
            *ngIf="
              _selectedMediaType == 'message' ||
              _selectedMediaType == 'track' ||
              _selectedMediaType == 'album'
            "
          >
            <app-multifile-upload
              _fileTitle="Upload Media File"
              [_form]="mediaForm"
              _query="mp3"
              [_isclear]="isClear"
              (outToParent)="getChildValue($event, 'file')"
            ></app-multifile-upload>
          </div>
          <div class="grid mb-3">
            <app-document-upload
              _fileTitle="Supporting Document"
              _query="doc"
              (outToParent)="getChildValue($event, 'doc')"
            ></app-document-upload>
          </div>
          <div class="bg-white p-4 grid grid--1fr--1fr grid-gap-15 mb-3">
            <div class="input d-flex flex-column">
              <label>Share Event on memberconnect(web)? </label>
              <mat-radio-group
                style="line-height: 34px"
                formControlName="display_web"
                [ngClass]="{
                  'is-invalid':
                    mediaForm.controls['display_web'].hasError('required') &&
                    mediaForm.controls['display_web'].touched
                }"
              >
                <mat-radio-button value="0" class="me-2">No</mat-radio-button>
                <mat-radio-button value="1">Yes</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="input d-flex flex-column">
              <label>Share Event on memberconnect(mobile)? </label>
              <mat-radio-group
                style="line-height: 34px"
                formControlName="display_mobile"
                [ngClass]="{
                  'is-invalid':
                    mediaForm.controls['display_mobile'].hasError('required') &&
                    mediaForm.controls['display_mobile'].touched
                }"
              >
                <mat-radio-button value="0" class="me-2">No</mat-radio-button>
                <mat-radio-button value="1">Yes</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="grid mb-3">
            <div class="input">
              <label>Comment</label>
              <textarea
                cols="30"
                rows="10"
                placeholder="Write a comment"
                formControlName="comment"
              ></textarea>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button
              type="submit"
              mat-flat-button
              class="me-4"
              [disabled]="!mediaForm.valid"
            >
              Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
            </button>
          </div>
        </div>
      </form>
    </aside>
    <ng-container *ngIf="queryString == 'edit' && !itemDetails">
      <app-loading-roller></app-loading-roller>
    </ng-container>
    <ng-container *ngIf="queryString == 'edit' && itemDetails">
      <aside>
        <form [formGroup]="updateConvertForm" (ngSubmit)="onUpdate()">
          <div class="form-wrap">
            <div class="title mb-2">Update Converts</div>
            <mat-divider></mat-divider>
            <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
              <div class="input">
                <label>Name of convert</label>
                <input
                  type="text"
                  placeholder="Enter name of convert"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid':
                      updateConvertForm.controls['name'].hasError('required') &&
                      updateConvertForm.controls['name'].touched
                  }"
                />
              </div>
              <div class="input">
                <label>Email address </label>
                <input
                  type="text"
                  placeholder="Enter email address"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="grid grid--1fr--1fr grid-gap-15 mt-4 mb-3">
              <div class="input">
                <label>Phone number</label>
                <input
                  type="text"
                  formControlName="phone"
                  placeholder="Enter phone number"
                />
              </div>
              <div class="input">
                <label>Service day</label>
                <input
                  type="date"
                  formControlName="service_day"
                  placeholder="Enter service day"
                />
              </div>
            </div>

            <div class="d-flex align-items-center">
              <button
                type="submit"
                mat-flat-button
                class="me-4"
                [disabled]="!updateConvertForm.valid"
              >
                Update <mat-spinner *ngIf="isBusy"> </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </aside>
    </ng-container>
  </section>
</ng-container>
