<header class="header">
    <div class="container">
        <div class="wrap-header row align-content-center">
            <div class="col-md-1">
                <img 
                  src="assets/img/png/church_logo.png" 
                  alt="churchvest logo"
                />
            </div>
            <div class="col-md-10 row align-content-center d-md-flex d-none">
                <div class="col-md-6">
                    <div class="links mt-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 align-content-center">
                    <div class="actions">
                        <button 
                          class="btn-ghost mr-4"
                          routerLink="/onboarding/login"
                          >Login</button
                        >
                        <button
                          class="btn-full"
                          routerLink="/onboarding/register"
                        >Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>